/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --title-color: rgba(255, 194, 230, 1);
  --title-shadow: 4px 4px rgba(255, 141, 203, 1);
  --footer-title-shadow: 2px 2px rgba(255, 141, 203, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --border-button-color: rgba(53, 52, 48, 1);
  --border-corner-color: rgba(53, 52, 48, 1);
  --border-button-color-hover: rgba(50, 49, 45, 0.4);
  --bg-color: rgba(255, 241, 247, 1);
  --bg-image__theme: url(../images/cover-image-light.png);
  --title-text-color: rgba(53, 52, 48, 1);
  --link-border: 1px solid rgba(53, 52, 48, 1);
  --link-shadow: 1px solid rgba(255, 141, 203, 1);
  --main-title-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: rgba(255, 194, 230, 1);
    --title-shadow: 4px 4px rgba(255, 141, 203, 1);
    --footer-title-shadow: 2px 2px rgba(255, 141, 203, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --main-text-color: rgba(53, 52, 48, 1);
    --button-color: rgba(53, 52, 48, 1);
    --border-button-color: rgba(53, 52, 48, 1);
    --border-corner-color: rgba(53, 52, 48, 1);
    --border-button-color-hover: rgba(50, 49, 45, 0.4);
    --bg-color: rgba(255, 241, 247, 1);
    --bg-image__theme: url(../images/cover-image-light.png);
    --title-text-color: rgba(53, 52, 48, 1);
    --link-border: 1px solid rgba(53, 52, 48, 1);
    --link-shadow: 1px solid rgba(255, 141, 203, 1);
  }
}

.theme-light .header-rec {
  display: none;
}
